<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="images/favicon.png" type="image/png">
        <title>Flash Photography</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/animate-css/animate.css">
        <link rel="stylesheet" href="vendors/popup/magnific-popup.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="/"><img src="images/logo.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="/">首頁</a></li> 
								<li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">學習頁面</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="/detailsView">社交文章</a>
									  <li class="nav-item"><a class="nav-link" href="/detailsView">心理測驗</a></li>
									</ul>
								</li> 
								<!--<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul>
								</li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul>
								</li> -->
								<li class="nav-item"><a class="nav-link" href="/contact">聯絡我們</a></li>
								<li class="nav-item"><a class="nav-link" href="/loginForm">管理者登入</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<!--<h2>Project Details</h2>
							<div class="page_link">
								<a href="index.html">Home</a>
								<a href="projects.html">Projects</a>
								<a href="project-details.html">Project Details</a>
							</div>-->
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Portfolio Details Area =================-->
        <section class="portfolio_details_area p_120">
        	<div class="container">
        		<div class="portfolio_details_inner">
					<div class="row">
						<div class="col-md-6">
							<div class="left_img">
								<img class="img-fluid" src="images/project-details-2.jpg" alt="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="portfolio_right_text">
								<h4>新學期，新人際關係－人際關係背後的秘密</h4>
								<p>Posted By 陳蔚承 on 六月 16, 2015</p>
                                <p>暑假的來臨，象徵著舊學期結束、新學期即將開始。如果你是剛升上小高一或是直準備成為大學新鮮人的同學，第一個要面對的就是新的同學。交朋友的方法每個人都不一樣，但是小編想要跟各位同學介紹的不是平常那些教你怎麼維持友誼的方式，而是要跟同學們說些比較學術的東西。同學，上課囉！（小編同事：都放暑假了還上課，別鬧啦！）</p>
								<p><strong>【情境定義－人永遠都在見機行事】</strong></p>
                                <p>新學期走進新教室或是新的社團辦公室，大家心裡一定都怕怕的，陌生的環境會讓你充滿壓力，你會仔細打量周遭的人和觀察氣氛，同樣的，別人也在看著你，心裡充滿猜疑。如果你假設你身邊的小明是個好人，或是你認為當下的氛圍是可以與人交談的，你就會行動。</p>
                                <p>社會學家湯瑪士（William. I. Thomos）就提出了情境定義（Definition of the Situation）。他認為，人會不斷觀察、思考和定義週遭環境，認為自己所想的是真實的，並依此去行動。所以周遭情境真實的樣貌是如何不是重點，重點是自己對周遭的看法。</p>
                                <p>所以你認為當下的情境是適合交談的，你就會起而行找小明攀談，但可能小明的定義認為當下不適合攀談，這時可能就會產生不同的結果。「定義」本身沒有對錯，純粹是本身對環境的看法，所以在面對陌生環境，還是要見機行事，謹慎而行。</p>
                                <p><strong>【剝洋蔥－人際關係的進程】</strong></p>
								<p>你跟小明在那次的攀談後，成了好朋友。你們可能會先從姓名、興趣、玩什麼電腦遊戲、做什麼運動開始，等熟了之後才會聊到他可能剛和女友阿花分手或是自己心儀隔壁班的小瓜。</p>
                                <p>社會滲透理論（social penetration theory）學者奧特曼及泰勒(Altman & Taylor)將人際關係的建立比喻為剝洋蔥，分為寬度及廣度，一開始的人際交往，皆是從較寬、沒有深度和主題的話題開始，在情感和意見交換、彼此情感加深厚，就會開始挖掘彼此的內心世界，往洋蔥的核心邁進，人際關係也越來越好吃……啊不是，越來越深。</p>
                                <p>這個理論說明了友誼或是愛情的進程，也說明了關係的建立並非一蹴可幾，唯有慢慢交心、深刻認識彼此才能建立堅實深厚的情感。</p>
                                <p><strong>【一優點遮百醜－情人眼裡出西施】</strong></p>
                                <p>你跟小明變成無所不談的死黨，小明問你該怎麼追求他心儀的小瓜。但學校裡流傳著小瓜不好的消息，小明跟你說，小瓜長得那麼有氣質，一定是個孝順父母、功課超棒好女孩，那些傳言一定是假的，對她的愛永誌不渝。</p>
                                <p>人們在和人交往時，很容易因為對方一個特質就掩蓋了其他的特質，造成人際認知的障礙，這就是所謂的月暈效應(Halo Effect)。</p>
                                <p>人對其他人的看法常常容易有先入為主的現象，其中月暈效果就是一種非常主觀的心理認知，你可能常常會把某一個特質和另一個特質相連，但這些特質往往沒有直接關連，例如氣質和功課好、孝順聯想在一起；人也會將自己十分喜歡的特質以偏概全，可謂是「一好遮百醜」，所以人際交往要避開這樣的心理（但這很難，因為小編就有過這樣的情形QAQ）。</p>
                                <p>話說回來，你聽到學校裡有關小瓜不好的傳聞，就覺得她不是一個好女孩，這樣的心理同樣也可能也掉入了月暈效應中，所以人際交往不應先入為主，應該有更多方的認識後再思考下一步該怎麼做。</p>
                                <p>新學期，新人際關係，建立和維持人際網絡是人一生重要的課題，以上三種理論都十分中肯地描述了人際關係進行的情形，如果同學有興趣，可以期待之後小編的學術課程。登～登～登～登，同學們，下課囉！</p>
                                
								<!--<ul class="list">
									<li><span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
									<li><span>Client</span>:  colorlib</li>
									<li><span>Website</span>:  colorlib.com</li>
									<li><span>Completed</span>:  17 Aug 2018</li>
								</ul>-->
								<ul class="list social_details">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<!--<li><a href="#"><i class="fa fa-behance"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
								</ul>
							</div>
						</div>
					</div>
       				<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
       				<p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>-->
        		</div>
        	</div>
        </section>
        <!--================End Portfolio Details Area =================-->
        
        <!--================Instagram Area =================-->
        <section class="instagram_area">
        	<div class="container box_1620">
        		<div class="insta_btn">
        			<a class="btn theme_btn" href="https://koobii.com.tw/">kobbi高校誌官網</a>
        		</div>
        		<div class="instagram_image row m0">
        			<a href="#"><img src="images/instagram/ins-1.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-2.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-3.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-4.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-5.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-6.jpg" alt=""></a>
        		</div>
        	</div>
        </section>
        <!--================End Instagram Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>聯絡我們</h3>
        					</div>
        					<p>國立臺北商業大學 資訊管理系 校址:100台北市中正區濟南路一段321號；電話:(02)33222777；統一編號:03763608</p>
        					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
        				</aside>
        			</div>
        			<!--<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>Stay updated with our latest trends</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>				
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>-->
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
    </body>
</html>