<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="images/favicon.png" type="image/png">
        <title>Closer | Learn Web | Social Articals</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/animate-css/animate.css">
        <link rel="stylesheet" href="vendors/popup/magnific-popup.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.html"><img src="images/logo.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="/">首頁</a></li> 
								<li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">學習頁面</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="/detailsView">社交文章</a>
									  <li class="nav-item"><a class="nav-link" href="/detailsView">心理測驗</a></li>
									</ul>
								</li> 
								<!--<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul>
								</li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul>
								</li> -->
								<li class="nav-item"><a class="nav-link" href="/contact">聯絡我們</a></li>
								<li class="nav-item"><a class="nav-link" href="/contact">管理者登入</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<!--<h2>Project Details</h2>
							<div class="page_link">
								<a href="index.html">Home</a>
								<a href="projects.html">Projects</a>
								<a href="project-details.html">Project Details</a>
							</div>-->
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Portfolio Details Area =================-->
        <section class="portfolio_details_area p_120">
        	<div class="container">
        		<div class="portfolio_details_inner">
					<div class="row">
						<div class="col-md-6">
							<div class="left_img">
								<img class="img-fluid" src="images/project-details-1.jpg" alt="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="portfolio_right_text">
								<h4>一生一定要交到的4種朋友</h4>
								<p>Posted By Koobii編輯部 on 六月 17, 2015</p>
                                <p>小編之前寫了人際關係的學術性文章（誤），這次想寫一些比較輕鬆的話題，討論一下你一生中一定要交到的幾種朋友。孔子在很古早的時候就告訴我們要交「友直、友諒、友多聞」三種朋友，但是如果只有這三種，看來好像不太夠，小編今天就狗尾續貂一下，幫孔老夫子補充補充囉！</p>

<p>什麼？你想看學術性文章？等等啦！理解那些理論再用白話說出來不是那麼容易的，所再給小編一點時間囉</p>
<p><strong>【超有梗的朋友】</strong></p>
                                <p>這類的朋友會為你的生活帶來意想不到的樂趣。他們的想法獨特，鬼點子特多，而且會玩、懂得玩的出色。你跟他在一起除了不會覺得無聊，有些時候當你碰到難題，這類朋友的獨特思考模式和異於常人的觀點，說不定會為你開啟另一扇窗。</p>
                                <p><strong>【會跟你一起耍嘴皮子的朋友】</strong></p>
								<p>跟朋友耍耍嘴皮子、說說垃圾話是很正常的事，你會我會，相信孔老夫子也會。你可能覺得耍嘴皮子是件很沒營養的事情，但耍嘴皮子（或是粗俗點講成嘴砲），不是每個人你都可以肆無忌憚地耍。想想，如果是不熟的朋友，會跟你耍嘴皮子嗎？應該不會吧！很多時候嘴砲是一種發洩、一種帶動氣氛的方式、更是一種交心的行為。</p>
                                <p>像是小編，跟熟識的朋友連線玩電動的時候，都會互相嘴來嘴去，氣氛往往很歡樂；還有小編之前被劈腿，找了一群朋友聊天，聊到最後變成打嘴砲，一直在說要把對方扛去埋起來（當然是沒這麼做，不然小編就不會在這裡了），雖然大家都在胡鬧，但低落的情緒減少不少。所以，有一些能夠分享心事或是會跟你嘴皮子的朋友是很幸福的。</p>
                                <p><strong>【鼓勵你認真的朋友】</strong></p>
                                <p>交朋友當然不是交酒肉朋友，帶你一起墮落。認真類型的朋友會鼓勵你往正確的道路邁進，例如考試到了，他會提醒你別再玩了，該準備考試了；出社會找不到工作或是工作不順利，他會聽你抱怨、幫助你然後鼓勵你再接再厲。如果你覺得上述兩種類型的朋友你都不喜歡，那你一定要好好尋找會鼓勵你向上的朋友。</p>
                                <p><strong>【在某些領域學有專精的朋友】</strong></p>
                                <p>在學校，總是會有些朋友或是同學十分專精某一個科目，你有事沒事就會跑去問他問題。在學校，學生最大的考驗就是大大小小的考試，為了那一、兩分過意不去，也為了那一、兩分輾轉難眠。出了社會，最大的考驗就是上級給你的任務，為了KPI的達成率惶惶不安，想做什麼事卻缺乏專業知識，或是想嘗試理財、挑戰新的事情，這時候，你就需要在某些領域學有專精的朋友。</p>
                                <p>像是如果想買股票卻不知道怎麼進場，就可以去問在理財公司和顧問公司作的朋友；如果你的老闆要你設計廣告視覺，你卻對Illustrator和Photoshop不熟，這時候你就可以求助你在設計公司工作的朋友，請他技術指導一下。這類的朋友越多，對你未來的生活越有幫助，這也是為什麼大人們鼓勵我們在學生時期多交朋友的原因之一。</p>
                                <p>像是小編，之前玩一款很夯的線上對戰遊戲，因為一直輸，就求助等級比較高的朋友帶我一起玩，果然一路連勝，超爽der！（被踢飛）</p>
                                <p>有人交友廣闊，有人朋友不多，卻每個都是知心好友。不管朋友有多少，都不應該遺漏了上述4種類型的朋友，如果你有朋友是這些類型的綜合體，那真的恭喜你，你找到了能幫助你、能陪你歡樂伴你憂愁的知心朋友，要牢牢抓緊唷！</p>
								<!--<ul class="list">
									<li><span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
									<li><span>Client</span>:  colorlib</li>
									<li><span>Website</span>:  colorlib.com</li>
									<li><span>Completed</span>:  17 Aug 2018</li>
								</ul>-->
								<ul class="list social_details">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<!--<li><a href="#"><i class="fa fa-behance"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
								</ul>
							</div>
						</div>
					</div>
       				<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
       				<p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>-->
        		</div>
        	</div>
        </section>
        <!--================End Portfolio Details Area =================-->
        
        <!--================Instagram Area =================-->
        <section class="instagram_area">
        	<div class="container box_1620">
        		<div class="insta_btn">
        			<a class="btn theme_btn" href="https://koobii.com.tw/">kobbi高校誌官網</a>
        		</div>
        		<div class="instagram_image row m0">
        			<a href="#"><img src="images/instagram/ins-1.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-2.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-3.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-4.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-5.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-6.jpg" alt=""></a>
        		</div>
        	</div>
        </section>
        <!--================End Instagram Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>聯絡我們</h3>
        					</div>
        					<p>國立臺北商業大學 資訊管理系 校址:100台北市中正區濟南路一段321號；電話:(02)33222777；統一編號:03763608</p>
        					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
        				</aside>
        			</div>
        			<!--<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>Stay updated with our latest trends</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>				
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>-->
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
    </body>
</html>