<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="images/favicon.png" type="image/png">
        <title>Closer | Learn Web | Social Articals</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/animate-css/animate.css">
        <link rel="stylesheet" href="vendors/popup/magnific-popup.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="/"><img src="images/logo.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="/">首頁</a></li> 
								<li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">學習頁面</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="/detailsView">社交文章</a>
									  <li class="nav-item"><a class="nav-link" href="/detailsView">心理測驗</a></li>
									</ul>
								</li> 
								<li class="nav-item"><a class="nav-link" href="/contact">聯絡我們</a></li>
								<li class="nav-item"><a class="nav-link" href="/loginForm">管理者登入</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Portfolio Details Area =================-->
        <section class="portfolio_details_area p_120">
        	<div class="container">                            
        		<div class="row">
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-1.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/details2"><h5>一生一定要交到的四種朋友</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY KOOBII編輯部 ON 六月 17, 2015</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-2.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/details1"><h5>警惕！交朋友也要看對象<br/>五種不宜深交的類型</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY KOOBII編輯部 ON 六月 26, 2015</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-3.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/details4"><h5>新學期，新人際關係－人際關係背後的秘密</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY 陳蔚承 ON 六月 16, 2015</p>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-4.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/details5"><h5>怎麼辦，表達自己想法時總是很緊張！</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY KOOBII編輯部 ON 十一月 16, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-5.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/details6"><h5>我不想被刪除好友！小心四種討人厭行為</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY KOOBII編輯部 ON 十一月 15, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-6.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/detailsFirst"><h5>FB高人氣發文術：人見人愛的五大主題！</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY KOOBII編輯部 ON 十一月 14, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-7.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/details7"><h5>8個對話技巧，讓你成為萬人迷！</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY KOOBII編輯部 ON 十一月 13, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-8.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/details8"><h5>和好友的相處：要迎合？還是作自己？</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY KOOBII編輯部 ON 十一月 12, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-9.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/detailsFirst"><h5>完美溝通術 :大有學問的9項對話技巧</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY KOOBII編輯部 ON 十一月 11, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-10.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/detailsFirst"><h5>拒當被排擠對象，快速贏得好人緣！</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY 鄭匡宇 ON 十一月 9, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-11.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/detailsFirst"><h5>你是團體中的絆腳石嗎？</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY 艾爾EL ON 十一月 2, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-12.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/detailsFirst"><h5>善用把妹動力，開創積極人生</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY 鄭匡宇 ON 十一月 1, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-13.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/detailsFirst"><h5>你是腦補王嗎？小心變成偏執狂</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY 艾爾EL ON 十月 31, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-14.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/detailsFirst"><h5>你的敵人，可能就是你的救星。</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY 艾爾EL ON 十月 29, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="images/blog/cat-post/cat-post-15.jpg" alt="post">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/detailsFirst"><h5>無法拿捏人際交往的距離嗎？那麼遵守刺蝟法則就對了！</h5></a>
                                    <div class="border_line"></div>
                                    <p>POSTED BY 陳怡均LANDY ON 十月 22, 2013</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>	
        	</div>
        </section>
        <!--================End Portfolio Details Area =================-->
        
        <!--================Instagram Area =================-->
        <section class="instagram_area">
        	<div class="container box_1620">
        		<div class="insta_btn">
        			<a class="btn theme_btn" href="https://koobii.com.tw/">kobbi高校誌官網</a>
        		</div>
        		<div class="instagram_image row m0">
        			<a><img src="images/instagram/ins-1.jpg" alt=""></a>
        			<a><img src="images/instagram/ins-2.jpg" alt=""></a>
        			<a><img src="images/instagram/ins-3.jpg" alt=""></a>
        			<a><img src="images/instagram/ins-4.jpg" alt=""></a>
       				<a><img src="images/instagram/ins-5.jpg" alt=""></a>
                    <a><img src="images/instagram/ins-6.jpg" alt=""></a>
                    </div>
        	</div>
        </section>
        <!--================End Instagram Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>聯絡我們</h3>
        					</div>
        					<p>國立臺北商業大學 資訊管理系 <br />校址:100台北市中正區濟南路一段321號<br />電話:(02)33222777<br />統一編號:03763608</p>
        					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
        				</aside>
        			</div>
        			<!--<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>Stay updated with our latest trends</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>				
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>-->
        	</div>
        </footer>
        <!--================End Footer Area =================-->    

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
    </body>
</html>