<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="images/favicon.png" type="image/png">
        <title>Flash Photography</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/animate-css/animate.css">
        <link rel="stylesheet" href="vendors/popup/magnific-popup.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="/"><img src="images/logo.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="/">首頁</a></li> 
								<li class="nav-item"><a class="nav-link" href="/about">關於我們</a></li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">學習頁面</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="/detailsView">社交文章</a>
									  <li class="nav-item"><a class="nav-link" href="/detailsView">心理測驗</a></li>
									</ul>
								</li> 
								<!--<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul>
								</li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul>
								</li> -->
								<li class="nav-item"><a class="nav-link" href="/contact">聯絡我們</a></li>
								<li class="nav-item"><a class="nav-link" href="/contact">管理者登入</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<!--<h2>Project Details</h2>
							<div class="page_link">
								<a href="index.html">Home</a>
								<a href="projects.html">Projects</a>
								<a href="project-details.html">Project Details</a>
							</div>-->
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Portfolio Details Area =================-->
        <section class="portfolio_details_area p_120">
        	<div class="container">
        		<div class="portfolio_details_inner">
					<div class="row">
						<div class="col-md-6">
							<div class="left_img">
								<img class="img-fluid" src="images/project-details-4.jpg" alt="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="portfolio_right_text">
								<h4>拒當被排擠對象，快速贏得好人緣！</h4>
								<p>Posted By 鄭匡宇 on 十一月 9, 2013</p>
                                <p>當你有傑出表現，處處受人矚目的時候，有另一個問題也會隨之而來，那就是：來自同學們的嫉妒。嫉妒是人的天性，在心智尚未成熟的青春期更是難以控制。高中時代，有一些彼此興趣相投，話題相近的朋友，原本只是因為常接觸、座位就在附近而開始熟稔，之後漸漸形成所謂的小團體，其實也無可厚非。但壞就壞在某些不成熟、腦子又沒想清楚的年輕人，會開始刻意強化不同小團體之間的差異和歧見，導致不同的小團體之間形成難以破除的壁壘，彼此不相往來，甚至是相互攻擊。</p>

								<p><strong>培養死忠加換帖的好友</strong></p>
                                <p>一開始的時候，也許只是該團體中的某個人，看另外一個團體中的某個人不順眼，覺得他（她）說話的樣子、做事的態度讓他看起來不舒服，又或者是事事都求表現，好像甚麼好的事情都歸他一樣，為了惡作劇，以及想試試自己的影響力，便鼓動自己小團體裡的其他成員，一起漠視他、疏遠他，進而在他上課被老師叫起來發言，或者上台領奬時噓他。這樣便會逐漸形成所謂的精神上的暴力與霸凌，被欺負的同學若也有一群換帖的好友，則會開始替他打抱不平，一個不小心就形成大家都不想看到的衝突；再不然也會造成該同學長期遭受言語和態度上的欺侮，引發抗拒上學的心理，嚴重一點的還可能導致自殘自殺的可怕悲劇。</p>
                                <p><strong>學會釋出善意</strong></p>
								<p>為了避免這種情形發生，想要借由傑出表現來突顯自我，培養魅力的同學，必須懂得適當的謙虛，以及把榮耀分給其他同學。例如，當你是班上段考第一名或前三名的同學時，最好自告奮勇地擔任某個科目的小老師，主動提供成績不佳同學們諮詢的協助，或者邀約他們下課後一起讀書，幫他們把落後的進度趕上。當你是一個懂得熱心助人，又時時與人為善的人時，沒有人會忍心想要欺負你和排擠你，又或者即便想那麼做，也會顧忌攻擊你後，圍繞著你、受你幫助的團體成員所做出的反擊，這將幫助你營造出一種牽制負面攻擊的力量。</p>
                                <p><strong>大家都喜歡謙虛的人</strong></p>
                                <p>而如果你的強項是體育的話，也記得在打籃球等等團體運動時，即使明明自己一個人就能帶球上籃，也要在適當的時機，製造幾個傳球給隊友，讓他們都能衝鋒陷陣，英勇奪分，使他們獲得心理上的成就感，以及和你是同一陣線的親密感。這些行為都能使你即使有傑出表現，也不至於容易招嫉，對愉快高中生活的建立，有著莫大的幫助。</p>
                                
                                <p><strong>不要動不動就看別人不順眼</strong></p>
                                <p>有被排擠攻擊的人，就代表有那個發起攻擊的始作俑者以及在一旁起哄的人群。如果你是那個容易看別人不順眼，或者見不得別人好的人，仔細想想，會這樣或許也不是你的錯，你可能來自一個缺乏愛和鼓勵的家庭，於是當然傾向於把自身的憤怒找一個替代品來發洩，又或者自身沒有甚麼特殊的表現，看到他人的光環，只會喚起自身的自卑。但，與其把這些憤怒、不滿和嫉妒，利用煽動群眾的方式發洩在另一個人身上，還不如把那種「我看他不順眼」的情緒，改成「我要比他更優秀」的決心。功課沒他好沒關係，我在歌唱方面展露頭角；運動比他差也無所謂，我繪畫方面的成就他望塵莫及。用這種正面積極的態度來面對自己，在其他領域與自己嫉妒的同學頭角崢嶸，並抱著己所不欲，勿施於人的態度來對待他人，克制自己想要批評與攻擊別人的壞念頭，不知不覺中，你自身的其他能力也同時獲得提升，自己的人緣也會越來越好。</p>
                                <p>大家都是好同學，多年後再回來看自己年輕時的那些勾心鬥角、你爭我奪和羡慕嫉妒，都只會啞然一笑罷了。想讓自己有一段美好的高中生活，就要先試著讓周遭的人先過著和諧快樂的生活。然後，當你們日後看到類似《那些年，我們一起追的女孩》時，臉上流下的，才會是歡樂、溫馨又感動的淚水，以及滿腦子激動又不捨的回憶。</p>
                                <!--<ul class="list">
									<li><span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
									<li><span>Client</span>:  colorlib</li>
									<li><span>Website</span>:  colorlib.com</li>
									<li><span>Completed</span>:  17 Aug 2018</li>
								</ul>-->
								<ul class="list social_details">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<!--<li><a href="#"><i class="fa fa-behance"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
								</ul>
							</div>
						</div>
					</div>
       				<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
       				<p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>-->
        		</div>
        	</div>
        </section>
        <!--================End Portfolio Details Area =================-->
        
        <!--================Instagram Area =================-->
        <section class="instagram_area">
        	<div class="container box_1620">
        		<div class="insta_btn">
        			<a class="btn theme_btn" href="https://koobii.com.tw/">kobbi高校誌官網</a>
        		</div>
        		<div class="instagram_image row m0">
        			<a href="#"><img src="images/instagram/ins-1.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-2.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-3.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-4.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-5.jpg" alt=""></a>
        			<a href="#"><img src="images/instagram/ins-6.jpg" alt=""></a>
        		</div>
        	</div>
        </section>
        <!--================End Instagram Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>聯絡我們</h3>
        					</div>
        					<p>國立臺北商業大學 資訊管理系 校址:100台北市中正區濟南路一段321號；電話:(02)33222777；統一編號:03763608</p>
        					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
        				</aside>
        			</div>
        			<!--<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>Stay updated with our latest trends</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>				
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>-->
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
    </body>
</html>