{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Closer</title>
</head>

<link rel="stylesheet" href="{% static "css/first.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<script src="{% static "js/bootstrap.min.js" %}"></script>

<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<body>

    <!--.........................-->
    <!-- 大標題開始               -->
    <!--.........................-->
    <div class="jumbotron">
        <h1 class="display-4">Closer</h1>
        <p class="lead">文章管理</p>
    </div>
    <!--.........................-->
    <!-- 大標題結束               -->
    <!--.........................-->


    <div class="content">
        {% for post in posts %}
            <div>
                <p>Writings ID: {{ post.writings_id}}</p>
                <p>Writings Name: {{ post.writings_name }}</p>
                <p>Content: {{ post.writings_content }}</p>
                <br/>
             </div>
        {% endfor %}
    </div>
</body>
</html>